a:link{
    color: hsl(221, 100%, 74%);
}

a:hover{
    color: hsl(221, 100%, 86%);
    font-size: 1.1em;
}

a:active{
    color: hsl(240, 100%, 58%);
    font-size: 1.2em;
}

/*
a:visited{
    color: hsl(0, 0%, 75%);
}
*/


li:hover{
    background-color: hsl(60, 100%, 72%);
}

li:not(:hover){
    background-color: hsl(0, 0%, 76%);
}

li:nth-child(9){  /* odd, even, 3n */
    background-color: hsl(70, 100%, 78%);
}


#greeting p{
    background-color: hsl(119, 100%, 81%);
    padding: 10px;
    display: none;
}

#greeting:hover p{
    display: block;
}