.container{
    display: flex;
    border: 10px solid black ;
    height: 90vh;
    /*flex-direction: row-reverse; */ /* -> row, row-reverse, column, column-reverse */
    /*justify-content: space-evenly; */ /* -> flex-end, center, space-between, space-around, */
    /* align-items: baseline; */ /* -> flex-start, center, baseline, flex-end */
    /* flex-wrap: wrap; */ /* -> nowrap, wrap-reverse */
    /* align-content: flex-start; */ /* -> flex-end, center, space-evenly, space-between */
    /* column-gap: 2em; */
    /* row-gap: 2em; */
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#box1{
    background-color: hsl(0, 100%, 70%);
    /* align-self: start; */ /* -> center, end,*/
    /* order: 1; */ /* -> -1,*/
}

#box2{
    background-color: hsl(52, 100%, 55%);
    /* align-self: start; */ /* -> center, end,*/
    /* order: 1; */ /* -> -1,*/
}

#box3{
    background-color: hsl(111, 100%, 55%);
    /* align-self: start; */ /* -> center, end,*/
    /* order: 1; */ /* -> -1,*/    
}

#box4{
    background-color: hsl(201, 100%, 55%);
    /* align-self: start; */ /* -> center, end,*/
    /* order: 1; */ /* -> -1,*/
}